.swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet {
  background-color: #f4bf96;
  opacity: 1;
  transition: all 0.5s;
}
.swiper-pagination-bullet-active {
  background-color: #666;
  width: 20px;
  height: 10px;
  border-radius: 15px;
}