@font-face {
  font-family: iransans;
  src: url("../src/assets/iranSans/IRANSansWeb\(FaNum\).ttf");
  font-weight: normal
}
@font-face {
  font-family: iransans;
  src: url("../src/assets/iranSans/IRANSansWeb\(FaNum\)_Black.ttf");
  font-weight: 900
}
@font-face {
  font-family: iransans;
  src: url("../src/assets/iranSans/IRANSansWeb\(FaNum\)_Bold.ttf");
  font-weight: bold
}
@font-face {
  font-family: iransans;
  src: url("../src/assets/iranSans/IRANSansWeb\(FaNum\)_Light.ttf");
  font-weight: 200
}
@font-face {
  font-family: iransans;
  src: url("../src/assets/iranSans/IRANSansWeb\(FaNum\)_Medium.ttf");
  font-weight: 500
}
@font-face {
  font-family: iransans;
  src: url("../src/assets/iranSans/IRANSansWeb\(FaNum\)_UltraLight.ttf");
  font-weight: 100
}
@import "tailwindcss";
@theme{
  --font-primary : iransans;
  --color-primary : #FCF5ED;
}
@layer utilities{
  .container{
    @apply max-w-[1400px] m-auto px-5
  }
  .trans{
    @apply transition duration-300 ease-in-out
  }
  .special{
    @apply bg-pink-600 text-white py-2 px-4 rounded-xl inline-flex font-bold text-xl
  }
}
h1{
  font-weight: bold;
}
@plugin "daisyui";
